@font-face {
    font-family: 'BebasBold'; /*a name to be used later*/
    src: url('http://ezzydev.me/res/BEBAS___-webfont.woff'); /*URL to font*/
}
@font-face {
    font-family: 'BebasRegular'; /*a name to be used later*/
    src: url('http://ezzydev.me/res/BebasNeue Regular.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'BebasBook'; /*a name to be used later*/
    src: url('http://ezzydev.me/res/BebasNeue Book.ttf'); /*URL to font*/
}
.bold-font {
	font-family: BebasBold !important;
	font-size: 72pt;
}
.reg-font {
	font-family: BebasRegular !important;
}
.book-font {
	font-family: BebasBook !important;
}

body {
    background-color: PowderBlue !important;
    font-family: BebasRegular !important;
    overflow-x: ;
    letter-spacing: 0.5px !important
  }
  
  .remove-padding-sides {
	  padding-right: 0px !important;
	  padding-left: 0px !important;
  }
  
  .counter-padding-sides {
	  padding-right: 30px !important;
	  padding-left: 30px !important;
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("https://www.instagram.com/p/BlGiq7DgSOs/media/?size=l");
  min-height: 400px;
}

.bgimg-2 {
  background-image: url("https://www.instagram.com/p/BlOg45enRtU/media/?size=l");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("https://www.instagram.com/p/Bc3nGjMAkHG/media/?size=l");
  min-height: 400px;
}


  
  .now-playing:before {
	  content: "NOW PLAYING";
  }
  
  a{
	  text-decoration: none !important;
  }
  
  .expand {
  
  }
  
  .affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-fluid {
      padding-top: 700px;
  }
  
  .navbar {
	  border-radius: 0px !important;
	  margin-bottom: 0px !important;
	  border: 0px !important;
  }
  
  .crop {
	  white-space: nowrap;
      display: block;
      overflow: hidden;
	  text-overflow: ellipsis;
      /* new css */
      max-width: 100%;
  }
  
  .crop:hover {
	  overflow: visible;
  }
  
  #header-wrapper {
	  height: 200px;
	  width: 100%;
  }
  
  #nav-wrapper {
	  height: 50px;
	  width: 100%;
  }
  
  #content-wrapper {
	  height: auto;
	  width: 100%;
  }
  
  .text-centered {
	  text-align: center;
  }
  
  .flex-centered.vertical {
	  display: flex;
	  align-items: center;
  }
  .flex-centered.horizontal {
	  display: flex;
	  justify-content: center;
  }
  
  #track-image {
    width: auto;
    height: 100px;
    float: left;
    padding-right: 40px;
	margin-bottom: 22px;
  }

  #about-photo {
      width: 150px;
      height: 150px;
      border-radius: 200px;
	  text-align: center;
  }
  #music {
	  padding: 22px;
  }
  
  #movie {
	  padding: 22px;
  }
  
  .featured-media {
	  padding: 22px;
	  width: 100%;
      height: 100%;
  }
  
  .info-text {
	  padding-left: 20px;
  }

  .video {
      width: 100%;
      height: auto;
  }
  
  .footer {
	  color: white;
	  background-color: rgb(27,27,27);
  }
  .footer-header {
	  text-align: center;
  }
  
  .footer-header:after {
	  content: "stop looking at my bottom";
  }
  .footer-header:hover:after {
	  content: "or do, I'm not your supervisor";
  }
  
  .footer-content {
	  text-align: center;
	  padding-bottom: 10px
	  
  }
  
  .icon-link {
	  padding-left: 10px;
	  padding-right: 10px;
	  color: white !important;
  }
  
    .icon-link:hover {
	  padding-left: 10px;
	  padding-right: 10px;
	  color: rgb(200,200,200) !important;
  }
  
  .box-styled {
	  padding: 22px;
  }
  
  .padding-top {
	  padding-top: 22px;
  }
  
  .padding-right {
	  padding-right: 22px;
  }
  
  .padding-bottom {
	  padding-bottom: 22px;
  }
  
  .padding-left {
	  padding-left: 22px;
  }


