  body {
	  background-color: PowderBlue !important;
	  font-family: 'Lato', sans-serif !important;
	  overflow-x: ;
  }
  
  .affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-fluid {
      padding-top: 700px;
  }
  
  .navbar {
	  border-radius: 0px !important;
	  margin-bottom: 0px !important;
	  border: 0px !important;
  }
  
  .crop {
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  width: auto;
      display: block;
      overflow: hidden;
  }
  
  #header-wrapper {
	  height: 200px;
	  width: 100%;
  }
  
  #nav-wrapper {
	  height: 50px;
	  width: 100%;
  }
  
  #content-wrapper {
	  height: auto;
	  width: 100%;
  }
  
  .text-centered {
	  text-align: center;
  }
  
  .flex-centered.vertical {
	  display: flex;
	  align-items: center;
  }
  .flex-centered.horizontal {
	  display: flex;
	  justify-content: center;
  }
  
  #track-image {
    width: auto;
    height: 100px;
    float: left;
    padding-right: 40px;
	margin-bottom: 22px;
  }

  #about-photo {
      width: 150px;
      height: 150px;
      border-radius: 200px;
	  text-align: center;
  }
  #music {
	  padding: 22px;
  }
  
  #movie {
	  padding: 22px;
  }
  
  .info-text {
	  padding-left: 20px;
  }

  .video {
      width: 100%;
      height: auto;
  }
  
  .footer {
	  color: white;
	  background-color: rgb(27,27,27);
  }
  .footer-header {
	  text-align: center;
  }
  
  .footer-header:after {
	  content: "stop looking at my bottom";
  }
  .footer-header:hover:after {
	  content: "or do, I'm not your supervisor";
  }
  
  .footer-content {
	  text-align: center;
	  padding-bottom: 10px
	  
  }
  
  .icon-link {
	  padding-left: 10px;
	  padding-right: 10px;
	  color: white !important;
  }
  
    .icon-link:hover {
	  padding-left: 10px;
	  padding-right: 10px;
	  color: rgb(200,200,200) !important;
  }
  
  .box-styled {
	  padding: 22px;
  }


