@font-face {
    font-family: 'BebasBold'; /*a name to be used later*/
    src: url('http://ezzydev.me/res/BebasNeue Bold.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'BebasRegular'; /*a name to be used later*/
    src: url('http://ezzydev.me/res/BebasNeue Regular.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'BebasBook'; /*a name to be used later*/
    src: url('http://ezzydev.me/res/BebasNeue Book.ttf'); /*URL to font*/
}

.bold-font {
	font-family: BebasBold !important;
}
.bold-font-large {
	font-size: 72pt;
}
.reg-font {
	font-family: BebasRegular !important;
}
.book-font {
	font-family: BebasBook !important;
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-right: 50px;
}

#main {
    transition: margin-right .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.menu-button{
	position: fixed;
	top: 40px; 
	right: 40px;
	cursor: pointer;
}

a{
	color: white !important;
	text-decoration: none !important;
}
a:hover{
	text-decoration: none !important;
	cursor: pointer;
	opacity: 0.5;
}
p {
	font-family: BebasRegular;
	font-size: 16pt;
	color: rgba(255,255,255,0.75);
}

.dark-overlay {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.dark-overlay:hover {
	opacity: 0;
}

.twitch-text{
  color: #6441a5;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #6441a5;
}
.youtube-text {
  color: red;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: red;
}



#all li{
	display: inline;
}

#all:hover img {
	opacity: 0.2;
}
#all:hover ul:hover img {
	opacity: 0.5; 
}
#all:hover ul:hover img:hover {
	opacity: 1;
}
		
div.highlight:hover{
	color: #ff0000;
}

html{
  height:100%
}
body{
  height:100%;
}

.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
}
.modal-dialog-centered {
	opacity: 1 !important;
	vertical-align: middle !important;
}
.modal-dialog {
    transform: translate(0,0);
    top: 0%;
    margin: 0 auto;
}
.modal-backdrop.in {
	opacity: 0.7 !important;
}
.intro{
  height:100%
}

.left{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color: red;
  background-image: url('http://ezzydev.me/res/youtubebk.png');
  background-size: 20%;
  height : 100%;
  color : white;
  cursor: pointer;

}

.right{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color: #6441a5;
  background-image: url('http://ezzydev.me/res/twitchbk.png');
  background-size: 20%;
  height : 100%;
  color : white;
  cursor: pointer;
}


@media (max-width: 1200px) { 
  .left{
    height:50%
  }
  .right{
    height:50%
  }
}
.about{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:rgb(43,136,148);
  color : #FFF;
  height:100%
}

.footer-content {
	background-color: #1A7783;
	text-align: center;
}
